
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  color: #0094FE;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #0094FE;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #007cd1;
}
